@media only screen and (min-width: 240px) { html { font-size:50px;} } /* 12px */
@media only screen and (min-width: 320px) { html { font-size:50px } } /* 12px */
@media only screen and (min-width: 375px) { html { font-size:50px  } } /* 11.25px */
@media only screen and (min-width: 480px) { html { font-size:50px;} } /* 15px */
@media only screen and (min-width: 640px) { html { font-size:50px;} } /* 24px */
@media only screen and (min-width: 720px) { html { font-size:100px;} } /* 27px */
@media only screen and (min-width: 768px) { html { font-size:100px;} } /* 27px */


*{box-sizing: border-box;}
*:before, *:after{box-sizing: border-box;}
*, *:before, *:after{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,textarea{border: 0 none;color: inherit;margin: 0;padding: 0;vertical-align: baseline;max-height: 100000px;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}
em, strong{font-style: normal;}
ul, ol, li{list-style: none;}
body{line-height: 1.5;color: #333;font-size: 0.24rem;overflow-x:hidden;background:#f5f5f5;}
*{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif; outline:none;}
a{text-decoration: none;}
.conter{max-width:18rem;margin: 0 auto;}

.mHeaderBox{background: #181818;text-align:center;line-height:0.9rem;height:0.9rem;position:relative;}
.mHeaderBox a.arrowLeft{height:0.9rem;width:0.9rem;position:absolute;left:0;top:0;background: url(https://style.org.hc360.com/images/microMall/ico.png) no-repeat;background-position: 0.2rem 0.28rem;background-size:6rem 6rem;padding-left:0.32rem;}
.mHeaderBox h3{text-align:center;line-height:0.9rem;font-weight:normal;font-size:0.38rem;color:#fff;width: 75%;margin: 0 auto;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.topSearch{ background:#181818; height:1rem;}
.searchCon{padding:0.2rem; position: relative;}
.searchCon input{ background: #fff;font-size:0.3rem;height:0.6rem; border-radius: 0.3rem; line-height: 0.6rem; border: none;width:100%;padding-left:0.7rem;}
.searchCon:before{ content:""; display: block; position: absolute; top: 0.2rem;left:0.2rem; height: 0.6rem; width: 0.6rem; background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) 0.22rem 0.17rem no-repeat; background-size: 3rem 6rem;}
.scroll{overflow: hidden; position: relative;}
.scrollCon{height:1.7rem;}
.scrollImg{height:1.7rem;width:100%; }
.scrollIco{ position: absolute; bottom:0.08rem;width:100%; text-align:right;right:0.2rem;}
.scrollIco em{display: inline-block;height: 0.12rem;width: 0.12rem;z-index: 5;border: 1px solid #fff;margin: 0 0.1rem;border-radius: 50%;}
.scrollIco em.cur{ background: #fff;}
.navBox{border-bottom:0.02rem solid #f5f5f5; height: 1.8rem;padding:0 0.2rem;background: #fff;}
.navBox em{display: block;width:1.2rem;height:0.9rem; margin: 0 auto;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) 0 0 no-repeat; background-size: 3rem 6rem;}
.navBox em.ico1{width:0.9rem; background-position:0.15rem -0.38rem;}
.navBox em.ico2{ background-position:-0.71rem -0.38rem;}
.navBox em.ico3{width:1.1rem; background-position:-1.94rem -0.42rem;}
.navBox em.ico4{width:0.9rem; background-position:0.1rem -1.32rem;}
.navBox p{font-size:0.24rem;color:#333;}
.navTit{float: left;width:25%;text-align: center;padding-top: 0.2rem;height:1.8rem;}
.hcNewsList{ overflow: hidden; padding: 0.2rem;height:1.2rem;background: #fff;}
.hcNewsList em.newsIco{ display:block; float: left;height:0.8rem;width:0.8rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) -2.26rem -1.56rem no-repeat; background-size: 3rem 6rem;}
.hcNewsList .newsListCon2{line-height: 0.4rem;height:0.8rem; padding-left: 0.25rem; float: left; width:calc(100% - 0.8rem); margin-top: 0.04rem;}
.hcNewsList .newsListCon2 p{line-height: 0.4rem; font-size: 0.26rem; color: #333;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; display: block; position: relative;padding-left:0.68rem;}
.hcNewsList em.hotIco{ position: absolute; display:block;left:0;width:0.48rem;height:0.22rem; text-align: center; line-height: 0.22rem; border: 1px solid #ef322c; border-radius:0.04rem;top:0.08rem; font-size:0.16rem;color:#ef322c;}
.list{position: relative; overflow: hidden; height: 0.4rem;}
.box1,.box2{overflow: hidden;padding: 0.1rem 0.05rem 0;background: #f5f5f5;}
.box1Tit{padding:0.16rem 0 0.36rem; position: relative;}
.box1Tit h2{display: block;width: 3.44rem;height:0.38rem;margin: 0 auto;font-size:0.34rem;text-align: center;color:#ef322c;background:url(https://style.org.hc360.com/images/cpk/titBg.png) 0 0 no-repeat;background-size:3.42rem 1.06rem;line-height: 0.36rem;padding-left:0.6rem;}
.moreLink{height:0.26rem; position: absolute; right:0.2rem;top:0.21rem;color:#999;font-size:0.24rem; line-height: 0.26rem; padding-right:0.35rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) -2.2rem 0 no-repeat; background-size: 3rem 6rem;}
.proList{clear:both;padding:0 0.05rem 0.1rem;overflow: hidden;}
.proCon{float:left;width:3.55rem;height:5.1rem;background:#fff;overflow:hidden;margin-bottom:0.12rem;}
.proCon:nth-child(even) {float:right;}
.protil{height:0.72rem;font-size:0.28rem;color:#333;line-height:0.36rem;padding:0 0.2rem;display:inline-block;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; margin-bottom: 0.08rem;}
.protil a{color:#333;text-decoration:none;}
.price{color:#ff3b3b;font-size:0.24rem;padding:0 0.2rem; text-align: center;}
.allprice{font-size: 0.34rem; padding-top:0.1rem; overflow: hidden;}
.box2Tit h2{display: block;width: 3.22rem;height:0.38rem;margin: 0 auto;font-size:0.34rem;text-align: center;color:#ef322c;background:url(https://style.org.hc360.com/images/cpk/titBg.png) 0 -0.68rem no-repeat;background-size:3.42rem 1.06rem;line-height: 0.36rem;padding-left:0.52rem;}
.box2Tit{padding:0.16rem 0 0.42rem; position: relative;}
.phcolor{color:#ccc;}
.newsListCon2 li{position: relative;}
.spareProList{clear:both;overflow: hidden;}
.spareProList li{float:left;margin: 0 0 0.1rem;width:49.3%;height: 5.45rem;background:#fff;overflow:hidden;}
.spareProList li:nth-child(even){float: right;}
.spareProList li .proImgCon{display: block;margin:0 auto;/* width: 3.95rem; *//* height: 3.95rem; */}
.spareProList li .proImgCon a{width: 3.64rem;height: 3.64rem;display: table-cell;vertical-align: middle;overflow: hidden;text-align: center;}
.spareProList li .proImgCon a img{vertical-align: middle;max-width: 3.95rem;max-height: 3.95rem;width: auto;margin: 0 auto;}
.spareProList li a{text-decoration:none;}
@media only screen and (max-device-width: 320px){
	.spareProList li{height: 4.64rem;}
	.spareProList li .proImgCon,.spareProList li .proImgCon a{width: 3.2rem;height: 3.2rem;}
	.spareProList li .proImgCon a img{max-width: 3.2rem;max-height: 3.2rem;}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait){
	.spareProList li{height: 5.4rem;}
	.spareProList li .proImgCon,.spareProList li .proImgCon a{width: 3.95rem;height: 3.95rem;}
	.spareProList li .proImgCon a img{max-width:3.95rem;max-height:3.95rem;}
}
/*搜索*/
.topSearch2{ background:#fff; height:1rem; border-bottom: 0.02rem solid #f5f5f5;}
.searchCon2{padding:0.2rem; position: relative;}
.searchCon2 input{ background:#f5f5f5;font-size:0.3rem;height:0.6rem; border-radius: 0.3rem; line-height: 0.6rem; border: none;width:calc(100% - 0.9rem);padding-left:0.7rem;}
.searchCon2:before{ content:""; display: block; position: absolute; top: 0.2rem;left:0.2rem; height: 0.6rem; width: 0.6rem; background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) 0.22rem 0.17rem no-repeat; background-size: 3rem 6rem;}
.phcolor{color:#ccc;}
button.cancelBtn{ position: absolute; right: 0; font-size:0.3rem;color:#333; line-height:0.96rem;top:0; height: 1rem; text-align: center; width: 1.1rem; background:none; border:none;}
.seaHistory{ overflow: hidden; padding: 0 0.2rem 0.1rem;background:#fff;}
.seaHistory h3{ font-size: 0.3rem; color: #333; line-height: 0.82rem; padding-bottom: 5rp;}
.seaHistory a{ float: left; margin: 0 0.2rem 0.2rem 0;padding:0 0.25rem; height: 0.45rem; line-height: 0.45rem; font-size: 0.24rem; color: #333; background: #ececec; border-radius: 0.5rem;}

/*没有更多*/
.more{clear:both;height:0.6rem;text-align:center;font-size:0.3rem;color:#ddd; padding:0.3rem 0 0.7rem;}
.lineBot{width:3.5rem;height:0.2rem;border-bottom:0.01rem solid #ddd;margin:0 auto;}
.textBot{width:1.9rem;height:0.4rem;text-align:center;background:#f5f5f5;display:block;margin:0 auto;}

/*分类*/
.classLeft{width:1.8rem;left:0;top: 0.9rem;background: #fff;overflow-y: scroll;position: fixed;bottom: 1.1rem;}
.classLeft li{ height: 1rem;line-height: 1rem; color:#333; font-size: 0.26rem; text-align: center; display: block; border-bottom: 1px solid #e4e4e4;}
.classLeft li.classCur{ background: #f5f5f5; color: #ef322c; margin: -1px 0 0; border-bottom: none;}
.classRig{position:fixed;top: 0.9rem;right:0.2rem;left:2rem;bottom: 1.1rem;overflow-y:scroll;}
.classRigCon{ overflow: hidden;}
.classRigTitCon{ height: 0.82rem; line-height: 0.82rem;}
.classRigTit{float: left; color: #333; line-height: 0.82rem; font-size: 0.26rem;}
.classRigMore{float: right;color: #999;line-height: 0.82rem;font-size: 0.24rem;display: block;text-align: right;width: 1.3rem;padding-right: 0.3rem;background: url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) 1.09rem -3.9rem no-repeat;background-size: 3rem 6rem;}
.classRigBot{background: #fff; padding:0.2rem 0.3rem; overflow: hidden;}
.classLink{ float: left; width: 33.333%; font-size: 0.24rem; color: #666; text-align: center; padding: 0.1rem 0 0.15rem;}
.classLink img{width:1.2rem;height:1.2rem; margin: 0 auto;}
.classLink p{display: block; line-height: 0.4rem;}
.classLeft::-webkit-scrollbar,.classRig::-webkit-scrollbar {display:none;}

/*终极页*/
.tabTitBox li{float: left; width: 25%; text-align: center; font-size:0.28rem; position: relative;}
.tabTitBox li.cur{color:#ef322c;}
.tabTitBox li.cur::after{content:""; margin: 0 auto; position: absolute; left: 50%; margin-left:-0.5rem; bottom: 0; display: block; width: 1rem; height:0.06rem; background: #ef322c; border-radius:0.1rem;}
.tabTitBox{height:0.9rem;line-height:0.9rem;background: #fff;/* position: fixed; */left: 0;top:0;width:100%;z-index:50;box-shadow:0 0 0.2rem #ddd;}
.proImgBox{height:5rem;width:100%;background: #fff;/* margin-top:0.9rem; */position:relative;}
.proImgBox li{width: 100%;height: 5rem; float:left;}
.proImgBox li img{width:100%;height:5rem;}
.proImgBox .scrollIco em{ background:#fff;}
.proImgBox .scrollIco em.cur{ background:#ef322c;}

.proTit{padding:0.2rem 0.25rem 0.3rem;border-bottom:0.2rem solid #f8f8f8; position: relative; background: #fff;}
.proTitle{line-height: 40rp;font-size:0.3rem;color:#333;padding-right:1.11rem; display: block;overflow: hidden;}
.proPrice{ color: #ff3b3b; font-size:0.4rem;padding:0.2rem 0 0.05rem;}
.proPriceText{ font-size: 0.3rem;}
.shareBox{position: absolute; right: 0.2rem; top: 0.08rem; text-align: center; font-size: 0.24rem; color: #999; width: 0.9rem; padding-top: 0.55rem; background: url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) no-repeat 0.28rem -2.35rem; background-size: 3rem 6rem; white-space: nowrap; border: 1px solid #fff; height: 0.85rem; line-height: 0.3rem; overflow: hidden;}
.shareBox::after{border:0;}
.sharebutton{position:absolute; right:0.2rem;top:0.12rem;width:0.9rem;height:1rem;opacity:0;z-index: 100;}
.detailCon{overflow:hidden; padding-bottom:1.2rem;background: #fff;}
.proPrice a{float: right; padding: 0 0.25rem; font-size: 0.24rem; color: #333; border: 1px solid #999; background: #fff; margin-left: 0.2rem; height:0.6rem; line-height:0.6rem; border-radius:0.1rem; outline:none;}
.proPrice a::after{border:0;}
a.contrast{background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) no-repeat 0.2rem -3.02rem;background-size:3rem 6rem; padding: 0 0.18rem 0 0.58rem;}
.detailBox{ overflow: hidden; background: #fff; margin-bottom:0.2rem;}
.detailTit{ height:0.9rem; line-height:0.9rem; color: #333; padding-left: 0.2rem; font-size:0.34rem; border-bottom: 0.01rem solid #e4e4e4;}
.parameterBoxCon{ padding: 0.2rem; font-size: 0.24rem; color: #333;}
.parameterListCon{ overflow: hidden; border-bottom: 1px solid #e4e4e4; position: relative; background:#f8f8f8;}
.parameterBoxCon th{height: 100%;width: 2rem; padding-left: 0.3rem; background: #eee; line-height: 0.8rem;box-sizing:border-box;}
.parameterBoxCon th{overflow:hidden; border-bottom:0.01rem solid #e4e4e4; position:relative;vertical-align:top; font-weight:normal;}
.parameterBoxCon td{margin-left: 2rem; background:#f8f8f8;}
.parameterBoxCon td{min-height:0.4rem; padding: 0.2rem 0; line-height: 0.4rem;border-bottom:0.01rem solid #e4e4e4;}
.pLeft{ padding-left: 0.3rem; width:30%; display:block;float: left;box-sizing:border-box;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.pRig{padding-left: 0.3rem;width:70%; display:block;float: left; color: #999;box-sizing:border-box;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.bjBoxCon{ overflow: hidden;}
.bjBoxCon li{overflow: hidden;border-bottom: 1px solid #e4e4e4;padding: 0.25rem 0.2rem;background:#fff;}
.bjName{font-size: 0.28rem; color: #333; line-height: 0.4rem;}
.bjNameLeft{float: left;width: 75%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;display: block;}
.bjBoxCon .bjPrice{float: right;color: #ff3b3b; font-size:0.4rem;padding:0x 0 0.05rem;}
.bjBotState{display: block;float: left;background: #49a3ff;height: 0.34rem;font-size: 0.22rem;padding: 0 0.15rem;border:1px solid #49a3ff;border-radius:0.05rem;line-height: 0.34rem;color: #fff;margin-right: 0.2rem;margin-top: 0.15rem;}
.bjBotAddress{display: block;float: left;font-size: 0.22rem;padding: 0 0.15rem;border:1px solid #49a3ff;border-radius: 0.05rem;color: #49a3ff;line-height: 0.34rem;height: 0.34rem;margin-right: 0.2rem;margin-top: 0.15rem;}
.bjBotScore{float: left;color: #fca000;font-size: 0.22rem;margin-top: 0.15rem;line-height: 0.34rem;}
.bjNameBot{overflow: hidden;clear: both;}
.bjBoxCon .telBtn{float: right;padding: 0 0.3rem;font-size: 0.24rem;color: #333;border: 1px solid #999;background: #fff;margin-left: 0.2rem;height: 0.5rem;line-height: 0.5rem;text-align: center;border-radius: 0.1rem;margin-top: 0.05rem;}
.bjBoxCon .telBtn::after{border:0;}
.detailBox .moreBtn{height:0.8rem;font-size: 0.28rem;color: #666;line-height: 0.8rem;text-align: center;display: block;}
.detailBox .moreBtn::after{ content:""; display: inline-block; height: 0.3rem; width: 0.3rem; vertical-align: middle; margin-left:0.1rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) 0.05rem -4.17rem no-repeat;background-size:3rem 6rem;}

.newsListCon{overflow: hidden; padding:0px 0}
.newsListCon li{border-bottom: 0.01rem solid #e4e4e4;padding:0.2rem;height: 1.5rem;overflow: hidden;position: relative;line-height: 0.5rem; background:#fff;}
.newsName{font-size: 0.28rem;color:#333;line-height: 0.4rem;padding-top: 0.15rem;width: 80%;display: block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.newsTime{ color: #999; font-size: 0.24rem;}
.newsImg{height:1.1rem; width: 1.1rem; position: absolute;right:0.2rem; top:0.2rem;}
.newsImg img{max-height:1.1rem;max-width: 1.1rem;}
.noImg .newsName{width:100%;}
.noImg .newsName{width:100%;}
.newsImg a{}

.detailBox .askBtn{display: block;float: right;margin-right: 0.2rem;color: #49a3ff;font-size: 0.24rem;position: relative;width: auto;box-shadow: none;}
.detailBox .askBtn::after{ content:""; display: inline-block; height: 0.3rem; width: 0.2rem; vertical-align: middle; margin-left:0.1rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) 0.03rem -4.85rem no-repeat;background-size:3rem 6rem;}
.detailBox .askBoxCon{overflow: hidden;}
.detailBox .askBoxCon li{ padding: 0.2rem; border-bottom: 1px solid #e4e4e4; overflow:hidden; background:#fff;}
.detailBox .askName,.detailBox .answerCon{ position: relative; overflow: hidden; font-size: 0.28rem; color: #333; line-height: 0.4rem; padding-bottom: 0.08rem; padding-left: 0.38rem;}
.detailBox .askName::before{ content: "问"; font-size: 0.2rem; display: block; height: 0.28rem; width: 0.28rem; background: #fca000; text-align: center; line-height: 0.28rem; left: 0; top: 0.06rem; position:absolute; color: #fff; border-radius: 0.04rem;}
.detailBox .answerCon::before{ content: "答"; font-size: 0.2rem; display: block; height: 0.28rem; width: 0.28rem; background: #49a3ff; text-align: center; line-height: 0.28rem;left: 0; top:0.06rem; position:absolute; color: #fff; border-radius: 0.04rem;}
.detailBox .answerConLeft{ float: left; width: 75%;display: block;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.detailBox .answerConRig{ float: right;font-size:0.24rem; color:#999;}
.detailBox .askBoxCon li a{display:block;}
.pBot100{padding-bottom:1.1rem;}
.mTop110{margin-top: 0.01rem;}

.detailBotFixed{ position:fixed; bottom: 0; width: 100%; left: 0; height: 0.98rem; background: #fff; box-shadow:0px 0px 0.2rem #bbb;}
.detailBotFixed .botTel,.collectionIco,.collectionIcoCur{ float: left; width: 16%; text-align: center;height: 0.98rem; font-size: 0.22rem; padding-top: 0.1rem;}
.detailBotFixed .botTel::before,.collectionIco::before,.collectionIcoCur::before{ content: ""; display: block; margin: 0 auto; height: 0.45rem; width: 0.45rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) 0 0 no-repeat; background-size: 3rem 6rem;}
.detailBotFixed .botTel::before{ background-position:-0.58rem -2.52rem;}
.collectionIco::before{background-position:-1.09rem -2.52rem;}
.collectionIcoCur{color:#ef322c;}
.collectionIcoCur::before{background-position:-1.6rem -2.52rem;}
.detailBotFixed .botBtn1,.detailBotFixed .botBtn2{ float: left; width: 34%; text-align: center; font-size: 0.3rem; line-height: 0.98rem; color: #fff;}
.detailBotFixed .botBtn1{ background: #fca000;}
.detailBotFixed .botBtn2{ background: #ef322c;}
.fixedBtnRig{ position: fixed; right: 0.3rem; bottom:2rem; line-height: 0.8rem; text-align: center; font-size: 0.42rem; color: #fff; height: 0.8rem; width: 0.8rem;background: linear-gradient(#fd5554, #ef322c); border-radius: 50%;}

.askTabBox{ padding-bottom:0.2rem;}
.askTabBox .askBoxCon{overflow: hidden;background: #fff;}
.askTabBox li{ padding: 0.2rem; border-bottom: 1px solid #e4e4e4;} 
.askTabBox .askName,.askTabBox .answerCon{ position: relative; margin-bottom:0.2rem; overflow: hidden; font-size: 0.28rem; color: #333; line-height:0.5rem; padding-bottom:0.03rem; padding-left: 0.38rem;}
.askTabBox .askName::before{ content: "问"; font-size: 0.2rem; display: block; height: 0.28rem; width: 0.28rem; background: #fca000; text-align: center; line-height: 0.28rem; left: 0; top: 0.11rem; position:absolute; color: #fff; border-radius: 0.04rem;}
.askTabBox .answerCon::before{ content: "答"; font-size: 0.2rem; display: block; height: 0.28rem; width: 0.28rem; background: #49a3ff; text-align: center; line-height: 0.28rem;left: 0; top:0.11rem; position:absolute; color: #fff; border-radius: 0.04rem;}
.askTabBox .answerConLeft{ float: left; width: 75%;display: block;font-weight: bold; color: #333;}
.askTabBox .answerConRig{ float: right;font-size:0.24rem; color:#999;}
.askTabBox .askList:last-child{border-bottom:none;}
.askTabBox .askNameLeft{ float: left; display: block; width: 75%; font-weight: bold;}
.askTabBox .askNameRig{float: right;display: block; width:25%; text-align: right; color: #999; font-size: 0.24rem;}
.askTabBox .askBot{ clear: both; width: 100%; font-size: 0.28rem; color: #666; padding-top: 0.03rem;}
.askBtn2{ overflow: hidden; position: fixed; left: 0; bottom: 0; width: 100%;height:0.96rem; text-align: center; line-height: 0.95rem; font-size:0.3rem; background: #fff; z-index: 51;box-shadow:0px 0px 0.25rem #ddd;}
.askBtn2::before{ content:""; display: inline-block; height:0.4rem; width: 0.4rem; vertical-align: middle; margin-left:0.1rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) -2.17rem -2.63rem no-repeat;background-size:3rem 6rem;margin-right: 0.1rem;}
.askTabBox .more{clear:both;height:0.6rem;text-align:center;font-size:0.3rem;color:#ddd; padding:0.3rem 0 1.6rem; }

.textareaBox{height:4.1rem;padding:0.2rem 0.2rem; background:#fff;}
.textareaBox textarea{font-size: 0.28rem;line-height: 0.4rem;width: 100%;height: 3.8rem;}
.askClass{ font-size: 0.28rem; line-height: 0.96rem; padding-left: 0.2rem; height: 0.96rem; margin-top: 0.2rem; background: #fff;}
.fixedBtn{ position: fixed; bottom: 0; left: 0; width: 100%; height: 0.96rem;box-shadow:0px 0px 0.2rem #ddd; line-height: 0.96rem;  text-align: center;}
.fixedBtn button{float: left; width: 50%; height: 0.96rem; color: #333; border:0;font-size:0.3rem; line-height: 0.96rem; border-radius: 0; background:#fff;}
.fixedBtn button::after{border:0;}
.fixedBtn button.btn2{border-left: 1px solid #ddd; margin-left: -1px;}
*::-webkit-input-placeholder {color:#ccc;}

.aboutUsBox .title{ font-size: 0.34rem; padding: 0.3rem 0; text-align: center;}
.aboutUsBoxCon{ text-align: left; line-height: 0.46rem; padding:0.2rem 0.35rem; font-size: 0.26rem; color: #666; }
.aboutUsCon{ text-indent: 2em;}
.aboutUsBox{background: #fff; padding: 0.1rem 0 0.3rem;}
.intructionsImg{ padding: 0.3rem 0 0 0; text-align: center;}
.intructionsImg img{max-width: 6.8rem;}
.spareProList li{position:relative;}
.collectionIco2{ position: absolute; bottom:0.15rem; right:0.2rem;}
.collectionIco2::before{content:"";display: block; margin: 0 auto; height:0.45rem; width:0.45rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) -1.6rem -2.52rem no-repeat; background-size:3rem 6rem;}
.box3 .price{ text-align:left;}

.contrastBox{overflow:hidden; background: #fff;}
.contrastCon{overflow:hidden;}
.contrastBox li{padding:0.3rem 0.2rem; border-bottom: 1px solid #e4e4e4; overflow: hidden; background:#fff;}
.contrastImg{height:1.1rem;width:1.1rem; margin-right: 0.25rem; float: left;}
.contrastImg span{display:block;height:1.1rem;width:1.1rem; text-align:center; vertical-align:middle;}
.contrastImg img{max-height:1.1rem;max-width:1.1rem;}
.contrastName{font-size:0.28rem; color: #333; float: left; width:calc( 100% - 2.05rem); line-height: 0.4rem; margin-top: 0.1rem;}
.contrastIco{ display: block; float: left; width: 0.48rem; height: 0.48rem; margin-right: 0.2rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) -1.65rem -5.53rem no-repeat;background-size:3rem 6rem; margin-top: 0.3rem;}
.contrastIcoCur{ display: block; float: left; width: 0.48rem; height: 0.48rem; margin-right: 0.2rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) 1px -5.53rem no-repeat;background-size:3rem 6rem;}
.contrastBtn{ overflow: hidden; position: fixed; left: 0; bottom: 0; width: 100%;height:0.96rem; text-align: center; line-height: 0.95rem; font-size:0.3rem; background: #fff; z-index: 51;box-shadow:0px 0px 0.25rem #ddd;}
a.contrastAdd{ overflow: hidden; display:block;width: 100%;height:0.96rem; text-align: center; line-height: 0.95rem; font-size:0.3rem; background: #fff;}
.contrastAdd::before{ content:""; display: inline-block; height:0.44rem; width: 0.44rem; vertical-align: top;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) -1.12rem -5.53rem no-repeat;background-size:3rem 6rem;margin:0.26rem 0.1rem 0;}

.contrastProTop{ overflow: hidden; height: 2rem; background:#fff; margin-bottom:0.2rem;}
.vsCon{ width: 2rem; height:2rem; text-align: center; background: #eee; padding-top:0.56rem; font-size: 0.28rem; float: left;}
.vsCon::before{ content:""; display:block; margin: 0 auto 0.2rem; height:0.54rem; width:0.7rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) -2.31rem -4.21rem no-repeat;background-size:3rem 6rem;}
.contrastProRig{float: left; width: calc(100% - 2rem);}
.pro1,.pro2{width: 50%; margin: 0 auto; float: left; padding-top: 0.2rem;}
.pro1Img,.pro2Img{width:1.2rem; height:1.2rem; margin: 0 auto; vertical-align:middle; text-align:center;}
.pro1Img img,.pro2Img img{max-width:1.2rem;max-height:1.2rem; margin: 0 auto; vertical-align:middle;}
.contrastProRig p{text-align: center;line-height: 0.4rem;font-size: 0.28rem;padding-top: 0.1rem;color: #333;display: block;width: 90%;margin: 0 auto;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;float: none;}
.detailBox{ overflow: hidden; background: #fff; margin-bottom: 0.2rem;}
.detailTit{ height: 0.9rem; line-height: 0.9rem; color: #333; padding-left: 0.2rem; font-size:0.34rem; border-bottom: 1px solid #e4e4e4;}
.parameterBoxCon{ padding:0; font-size: 0.24rem; color: #333;}
.parameterBoxCon li{ overflow: hidden; border-bottom: 1px solid #e4e4e4; position: relative; background:#fff;}
.parameterBoxCon li h3{ height: 100%; position: absolute; top: 0; left: 0; width: 2rem; padding-left: 0.3rem; background: #eee; line-height: 0.8rem;box-sizing:border-box;}
.parameterRig{ margin-left: 2rem;}
.parameterList{min-height:0.4rem;padding: 0.2rem 0;line-height: 0.4rem;border-bottom: 1px solid #e4e4e4;overflow: hidden;}
.parameterList:last-child,.parameterListCon:last-child{ border-bottom: none;}
.pLeft{width:50%; display:block;float: left;box-sizing:border-box; padding-left: 15%;}
.pRig{width:50%; display:block;float: left; color: #999;box-sizing:border-box; padding-left: 15%;}

.distributionBox li{overflow: hidden; margin-bottom: 0.2rem; background: #fff;}
.disListTop{padding:0.3rem 0.2rem; border-bottom: 1px solid #e4e4e4; overflow: hidden;}
.disImg{ height: 1.1rem;width:1.1rem; margin-right: 0.25rem; float: left;}
.disImg img{height: 1.1rem;width:1.1rem;}
.distributionBox .proName{font-size: 0.28rem; color: #333; float: left; width:calc( 100% - 1.35rem); line-height: 0.4rem; margin-top: 0.1rem;}
.disListBot{height: 0.7rem; line-height: 0.7rem; color: #999; padding: 0 0.2rem; font-size: 0.24rem;}
.disBotLeft{float:left;}
.disBotRig{ float:right;}

.fixedBtn2{ position: fixed; bottom: 0; left: 0; width: 100%; height: 0.96rem;box-shadow:0px 0px 0.2rem #ddd; line-height: 0.96rem;  text-align: center;}
.fixedBtn2 button{float: left; width: 50%; height: 0.96rem; color: #333; border:0;font-size:0.3rem; line-height: 0.96rem; border-radius: 0; background:#fff;}
.fixedBtn2 button::after{border:0;}
.fixedBtn2 button.btn2{border-left: 1px solid #ddd; margin-left: -1px;}
.downImgBox{ padding:0.07rem; overflow: hidden;}
.downImgBox li{width: 1.76rem;height: 1.76rem;float: left;margin:0.04rem;position: relative;}
.downImgCon{width: 1.76rem;height: 1.76rem;overflow:hidden;vertical-align:middle;display:table-cell;text-align:center;}
.downImgCon img{max-width: 1.76rem;max-height: 1.76rem;vertical-align:middle;}
.downImgBox li .ico{ position: absolute; top:0.04rem; right: 0.04rem;width:0.48rem;height:0.48rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) -0.55rem -5.53rem no-repeat;background-size:3rem 6rem;}
.downImgBox li .icoCur{ position: absolute; top:0.04rem; right: 0.04rem;width:0.48rem;height:0.48rem;background:url(https://style.org.hc360.com/images/cpk/cpkIndexIco.png) 1px -5.53rem no-repeat;background-size:3rem 6rem;}

@media only screen and (max-device-width: 320px){
	.downImgBox li{height: 1.48rem;width: 1.48rem;}
	.downImgBox li .downImgCon{width: 1.48rem;height: 1.48rem;}
	.downImgBox li .downImgCon img{max-width: 1.48rem;max-height: 1.48rem;}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait){
	.downImgBox li{height: 1.95rem;width: 1.95rem;}
	.downImgBox li .downImgCon{width: 1.98rem;height: 1.98rem;}
	.downImgBox li .downImgCon img{max-width: 1.98rem;max-height: 1.98rem;}
}

.editBox{background:#fff;padding:0.2rem 0.4rem;}
.editBox li,.editBox li.itxtCur{clear:both;font-size:0.34rem;line-height:0.8rem;display:block;position:relative;}
.editBox li{color:#353535;}
.editBox .itxtCur{color:#ef322c;}
.editBox .itxtCur::after{width:0.38rem;height:0.38rem;display:block;background:url(https://style.org.hc360.com/images/cpk/p_c_ico.png) no-repeat -3.7rem 0;background-size:5rem 0.48rem; content:""; vertical-align: middle;position:absolute;right:0;top:0.21rem;}

.intructionsBox .title{ font-size: 0.34rem; padding: 0.3rem 0; text-align: center;}
.intructionsCon{ text-align: left; line-height: 0.46rem; padding:0.2rem 0.35rem; font-size: 0.26rem; color: #666; }
.intructionsBox{background: #fff; padding: 0.1rem 0 0.3rem;}
.intructionsImg{ padding: 0.3rem 0 0 0; text-align: center;}
.intructionsImg img{max-width: 6.8rem;}

page{height:100%;background:#f6f6f6;}
.container{background:#f6f6f6;overflow:hidden;}
.signBox{width:100%;height:2.5rem;background:#fb4742;position:relative;overflow:hidden;}
.signLogo{width: 1.5rem;height: 1.5rem;background:#fff;border:0.05rem solid #f5736e;padding:0.03rem;position:absolute;left:0.32rem;top: 0.5rem;border-radius:50%;}
.logoImg{max-width: 1.35rem;max-height: 1.35rem;border-radius:50%;vertical-align: middle;}
.signName{font-size:0.42rem;color:#fff;position:absolute;left:2rem;top: 0.65rem;}
.signClass{width:1.6rem;height:0.4rem;line-height:0.35rem;font-size:0.24rem;color:#fff;text-align:center;background:#da0d07;border-radius:0.2rem;position:absolute;left:2rem;top: 1.35rem;display:block;overflow:hidden;}
.signClass::after{width:0.12rem;height:0.2rem;background:url(https://style.org.hc360.com/images/cpk/p_c_ico.png) no-repeat -4.42rem 0.02rem;background-size:5rem 0.48rem; content:"";display:inline-block;margin-left:0.1rem;}

.serviceBox{celar:both;padding:0.2rem 0.3rem;background:#fff;}
.serviceBox li{height: 1rem;line-height: 1rem;font-size:0.34rem;color:#333;position:relative;}
.serviceBox li::after{width:0.15rem;height:0.26rem;background:url(https://style.org.hc360.com/images/cpk/p_c_ico.png) no-repeat -4.85rem 0.02rem;background-size:5rem 0.48rem;content:"";display:block;position:absolute;right:0;top: 0.34rem;}
.serviceBox .icon1,.serviceBox .icon2,.serviceBox .icon3,.serviceBox .icon4,.serviceBox .icon5{width:0.46rem;height:0.48rem;display:inline-block;background:url(https://style.org.hc360.com/images/cpk/p_c_ico.png) no-repeat;background-size:5rem 0.48rem;vertical-align: middle;font-size:0;margin-right:0.34rem;float: left;margin-top: 0.25rem;}
.serviceBox .icon1{background-position:0 0;}
.serviceBox .icon2{background-position:-0.72rem 0;}
.serviceBox .icon3{background-position:-1.49rem 0;}
.serviceBox .icon4{background-position:-2.26rem 0;}
.serviceBox .icon5{background-position:-3.04rem 0;}
.serviceBox .stxt{font-size:0.34rem;color:#353535;}
.signLogo a{display: table-cell;width:1.35rem;height:1.35rem;vertical-align: middle;text-align: center;}

.problemsBox{overflow: hidden;}
.problemsBox li{ padding:0.25rem 0.2rem 0.2rem;background: #fff; margin-bottom:0.1rem;}
.problemsTop,.problemsBot{ position: relative; margin-bottom:0.1rem; overflow: hidden; font-size: 0.28rem; color: #333; line-height:0.5rem; padding-left: 0.38rem;}
.problemsTop{font-weight: bold;}
.problemsBot{color: #666;}
.problemsTop::before{ content: "Q"; font-size: 0.2rem; display: block; height: 0.28rem; width: 0.28rem; background: #fca000; text-align: center; line-height: 0.28rem; left: 0; top: 0.11rem; position:absolute; color: #fff; border-radius: 0.04rem;}
.problemsBot::before{ content: "A"; font-size: 0.2rem; display: block; height: 0.28rem; width: 0.28rem; background: #49a3ff; text-align: center; line-height: 0.28rem;left: 0; top:0.11rem; position:absolute; color: #fff; border-radius: 0.04rem;}

.scoreBox{clear:both;background:#fff;padding:0.1rem 0.5rem;line-height:0.75rem;overflow:hidden;}
.scoreBox .together{font-size:0.34rem;color:#333;font-weight:600;}
.desNum p{display:block; float:left;} 
.scoreBox .scoreTil{float:left;width:40%;}
.scoreBox .scoreNum{float:right;width:60%;color:#ef322c;}
.scoreBox .desCon{clear:both;font-size:0.3rem;color:#333;}
.scoreBox .desTil{float:left;width:40%;}
.scoreBox .desNum{float:right;width:60%;color:#ef322c;}
.scoreBox .d_1{width:30%;display:inline-block;}
.scoreBox .d_2{color:#333;}
a.w_bot{width:100%;height:0.96rem;line-height:0.96rem;font-size:0.3rem;color:#333;background:#fff;position:fixed;left:0;bottom:0;box-shadow: 0 -0.04rem 0.06rem #ddd;text-align:center;display:block;}
a em.b_icon{width:0.36rem;height:0.36rem;display:inline-block;background:url(https://style.org.hc360.com/images/cpk/p_c_ico2.png) no-repeat -1.54rem 0;background-size:1.94rem 0.36rem;vertical-align: middle;margin-right:0.15rem;margin-top: -0.02rem;}

.evaluateBox{clear:both;background:#fff;padding:0.3rem 0.5rem 0.4rem;}
.evaluateBox .evaluateList{clear:both;height:0.7rem;line-height:0.7rem;overflow:hidden;}
.evaluateBox .e_txt_l{float:left;width:25%;font-size:0.3rem;color:#333;}
.evaluateBox .starCon{float:left;width:55%;}
.evaluateBox .s_1,.evaluateBox .s_2{width:0.38rem;height:0.38rem;display:block;float:left;background:url(https://style.org.hc360.com/images/cpk/p_c_ico2.png) no-repeat -1.54rem 0;background-size:1.94rem 0.36rem; vertical-align: middle;margin:0.18rem 0.15rem 0;}
.evaluateBox .s_1{background-position: 0 0;}
.evaluateBox .s_2{background-position: -0.72rem 0;}
.evaluateBox .e_txt_r{float:left;width:20%;font-size:0.26rem;color:#999;}
.evaluateBox .w_bot{width:100%;height:0.96rem;line-height:0.96rem;font-size:0.3rem;color:#333;background:#fff;position:fixed;left:0;bottom:0;box-shadow: 0 -0.04rem 0.06rem #ddd;text-align:center;display:block;}
.popBox .mask{width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.4);z-index:1000;}
.popBox .popCon{width:5.4rem;height:2.1rem;background:#fff;border-radius:0.2rem;position: absolute;left:50%;top:50%;margin-left:-2.7rem;margin-top:-1.05rem;z-index:1001;overflow: hidden;}
.popBox .popTil{height:1.2rem;line-height:1.2rem;text-align:center;font-size:0.34rem;color:#333;border-bottom:1px solid #ddd;display:block;box-sizing:border-box;}
.popBox .bnCon{clear:both;}
.popBox .btn1,.popBox .btn2{float:left;width:50%;line-height:0.9rem;text-align:center;font-size:0.34rem;color:#007cff;display:block;background: #fff;border: none;}
.popBox .btn1{box-sizing:border-box;border-right:1px solid #ddd;}
.box2{margin-bottom:1.1rem;}

.indexBotFixed{height:1rem;background:#fff;border-top:0.01rem solid #e9e9e9;box-shadow:0 0 0.1rem #e9e9e9;width:100%;bottom:0;position: fixed; text-align:center;}
.indexBotFixed ul li{ display:inline-block;width:38%;height:1rem;padding: 0; float:none;}
.indexBotFixed li a {display:block;width:100%;height:0.98rem;color:#ccc;font-size: 0.22rem;text-align: center;padding-top: 0.06rem;}
.indexBotFixed li a::before{ content:"";display: block; height: 0.44rem; width: 0.44rem; background: #fca000; text-align: center; line-height: 0.28rem; margin:0.1rem auto 0;color: #fff; border-radius: 0.04rem;}
.indexBotFixed li.indexLinkCur a,.indexBotFixed li.classLinkCur a,.indexBotFixed li.manageLinkCur a{ color:#ef322c;}
.indexBotFixed li.indexLink a::before{background:url(https://style.org.hc360.com/images/cpk/botIco1.png) 0 0 no-repeat; background-size:0.44rem 0.44rem;}
.indexBotFixed li.classLink a::before{background:url(https://style.org.hc360.com/images/cpk/botIco2.png) 0 0 no-repeat; background-size:0.44rem 0.44rem;}
.indexBotFixed li.manageLink a::before{background:url(https://style.org.hc360.com/images/cpk/botIco3.png) 0 0 no-repeat; background-size:0.44rem 0.44rem;}
.indexBotFixed li.indexLinkCur a::before{background:url(https://style.org.hc360.com/images/cpk/botIco1Cur.png) 0 0 no-repeat; background-size:0.44rem 0.44rem;}
.indexBotFixed li.classLinkCur a::before{background:url(https://style.org.hc360.com/images/cpk/botIco2Cur.png) 0 0 no-repeat; background-size:0.44rem 0.44rem;}
.indexBotFixed li.manageLinkCur a::before{background:url(https://style.org.hc360.com/images/cpk/botIco3Cur.png) 0 0 no-repeat; background-size:0.44rem 0.44rem;}

.parameterBoxCon{ padding: 0.2rem; font-size: 0.24rem; color: #333;}
.parameterListCon{ overflow: hidden; border-bottom: 1px solid #e4e4e4; position: relative; background:#f8f8f8;}
.parameterLeft{ height: 100%; position: absolute; top: 0; left: 0; width: 2rem; padding-left: 0.3rem; background: #eee; line-height: 0.8rem;box-sizing:border-box;}
.parameterRig{ margin-left: 2rem;}
.parameterRig ul li{ min-height:0.4rem; padding: 0.2rem 0; line-height: 0.4rem;border-bottom: 1px solid #e4e4e4;}
.parameterRig ul li:last-child,.parameterListCon:last-child{ border-bottom: none;}
.parameterRig .pLeft{width: 40%;display:block;float: left;box-sizing:border-box;padding-left: 10%;}
.parameterRig .pRig{padding-left: 0.3rem;width: 60%;display:block;float: left;color: #999;box-sizing:border-box;}
.parameterLeft h6{font-size: 0.24rem; height: 0.8rem; line-height: 0.8rem; position: absolute; top: 50%; margin-top: -0.4rem;}